<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string><![CDATA[https://ly27.cn/data/attachment/8892851767f97f582d65a75ee0e0effe.ipa]]></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<integer>0</integer>
					<key>url</key>
					<string><![CDATA[https://ly27.cn/data/attachment/18f3e6931d777b06a2f7e6e9709cd1ea.png?v=1591769458]]></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string><![CDATA[https://ly27.cn/data/attachment/18f3e6931d777b06a2f7e6e9709cd1ea.png?v=1591769458]]></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>btc.ADF.coin</string>
				<key>bundle-version</key>
				<string><![CDATA[1.0]]></string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string><![CDATA[快猫]]></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
